html,
body,
#root {
  height: 100%;
  margin: 0;
}

.main {
  width: 100%;
  height: calc(100vh - 100px);
}

input[type='file'] {
  display: none;
}

button {
  background-color: #04AA6D !important;
  border-radius: 5px;
  font-size: 17px;
  padding: 8px 18px;
  color: #FFFFFF;
  border: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

button:hover {
  background-color: #059862 !important;
}

.file-upload {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}